{{#if signup_success}}
    <div id="sign-up-container" hx-swap-oob="true">
        <h1 class="text-3xl font-bold underline">
            Sign up successful! Welcome {{username}}.
        </h1>
    </div>
{{/if signup_success}}
{{#else signup_success}}
    <div>
        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
        <div class="mt-2">
            <input id="username" name="username" type="text" autocomplete="email" value="{{username}}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        {{#if user_error}}
        <div class="text-red-700 font-light">Please enter a username</div>
        {{/if user_error}}
    </div>

    <div>
        <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        </div>
        <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        {{#if password_match_error}}
        <div class="text-red-700 font-light">Passwords do not match</div>
        {{/if password_match_error}}
        {{#if password_error}}
        <div class="text-red-700 font-light">Please enter a password</div>
        {{/if password_error}}
    </div>

    <div>
        <div class="flex items-center justify-between">
            <label for="password2" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        </div>
        <div class="mt-2">
            <input id="password2" name="password2" type="password" autocomplete="current-password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        {{#if password_confirm_error}}
        <div class="text-red-700 font-light">Please enter a password</div>
        {{/if password_confirm_error}}
    </div>

    <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
    </div>
{{/else signup_success}}